/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body{
    display: flex;    
}
.flash-danger, .flash-success{
  position: absolute;  
  top: 10px;
  right: 10px;  
  padding: 10px;
  color: white !important;
  border-radius: 10px;
}
.flash-danger{ 
  background-color: red;
}
.flash-success{
  background-color: green;
}
