.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard-childs{
  height: 100%;
  width: 100%;
  margin-top: 25px;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  gap: 20px;
}

.dashboard-child{
  height: 150px;
  text-decoration: none;
  color: black;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-child:hover{
  height: 180px;
  width: 330px;
}
.dashboard-chart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.dashboard-chart-container{
  display: flex;
  justify-content: center;
  gap:20px;  
}
.dashboard-chart-message{
  text-align: center;
}  

.insert-notion-container{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100vh;
  margin-bottom: 20px;
  scrollbar-width: none;
  justify-content: center;
  align-items: center;  
  width: 100%;
}
.insert-heading{
  margin: 20px 0px;
}
.charts-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-header{
  border-bottom: 2px solid;
  width: 100%;
  margin: 10px 0px;
}
.nav-footer{
  border-top: 2px solid;
  width: 100%;
  padding-top: 20px;
}
.nav-links{
  width: 100%;
  margin-top: 10px;
}
.nav-item{
  width: 100%;
}
.nav-link-a{
  width: 100%;
  padding: 5px !important;  
  color: white !important;
  margin-bottom: 10px;
  border: 1px solid white !important;
}
.nav-link-active{
  color: black !important;
  background-color: white !important;
}
.special-btn{
  border: none !important;
  color: black !important;
  background-color: white !important;
} 
.btn-two{
  border: none !important;
}
.table-responsive{
  scrollbar-width: thin;
  max-height: 70vh;
  min-width: 90%;
}
.spinner-border{
  height: 20px !important;
  width: 20px !important;
}